<% provide(:title, 'Create section') %>


	
  <h1>Create section</h1>
<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
		<%= link_to("Back to list", {:action => 'index'}, class: 'btn btn-primary' ) %>

		<%= form_for(:section, :url => {:action => 'create'}) do |f| %>

			<%= f.label :page_id, "Page ID" %>
			<%= f.text_field :page_id, class: 'form-control' %>
			
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :position %>
			<%= f.text_field :position, class: 'form-control' %>

			<%= f.label :visible %>
			<%= f.check_box :visible, class: 'form-control' %>



			<%= f.label :content_type, 'Content type' %>
			<%= f.radio_button :content_type, 'text', class: 'form-control' %> Text
			<%= f.radio_button :content_type, 'html', class: 'form-control' %> HTML

			<%= f.label :content %>
			<%= f.text_area :content, class: 'form-control' %>
			<%= f.submit "Create new section", class: 'btn btn-primary' %>


			
		<% end %>
	</div>
</div>
