<% provide(:title, 'Create section') %>


	
  <h1>Create section</h1>
<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
		<%= link_to("Back to list", {:action => 'index', :page_id => @page.id }, class: 'btn btn-primary' ) %>

		<%= form_for(:section, :url => {:action => 'create', :page_id => @page.id }) do |f| %>

			<%= f.label :page_id, "Page ID" %>
			<%= f.text_field :page_id, class: 'form-control' %>
			
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :position %>
			<%= f.text_field :position, class: 'form-control' %>

			<%= f.label :visible, 'Visible' %>

			<div class="checkbox-inline">
				<%= f.check_box :visible, class: 'form-control' %><br />
			</div><br /><br />
			<%= f.label :content_type, 'Content type' %>
			
			<div class="radio-inline">
				
				<%= f.radio_button :content_type, 'text' %><br />Text<br />
				
			</div>
			<div class="radio-inline">
				<%= f.radio_button :content_type, 'html' %><br />HTML<br />
			</div><br /><br />
			
			<%= f.label :content, 'Content' %>
			<%= f.text_area :content, class: 'form-control' %>
			<%= f.submit "Create new section", class: 'btn btn-primary' %>

			
		<% end %>
	</div>
</div>
