<% provide(:title, 'Show section') %>
<div class="container">
	<h1>Show section</h1>
	

	<table class="table table-striped">
		<tr>
			<th>Page ID:</th>
			<td><%= @section.page_id %></td>
		</tr>
		<tr>
			<th>Name:</th>
			<td><%= @section.name %></td>
		</tr>
		<tr>
			<th>Position:</th>
			<td><%= @section.position %></td>
		</tr>
		<tr>
			<th>Visible?</th>
			<td><%= @section.visible ? 'true' : 'false '%></td>
		</tr>
		<tr>
			<th>Content type:</th>
			<td><%= @section.content_type %></td>
		</tr>
		<tr>
			<th>Content:</th>
			<td><%= @section.content %></td>
		</tr>
		<tr>
			<th>Created at:</th>
			<td><%= @section.created_at %></td>
		</tr>
		<tr>
			<th>Updated at:</th>
			<td><%= @section.updated_at %></td>
		</tr>
	</table>
	<h3>	<%= link_to("Back to list", {:action => 'index', :page_id => @page.id }, :class => 'btn btn-primary', ) %></h3>
</div>

