<% provide(:title, 'All pages') %>
<%= link_to("Back to subjects", {:controller => 'subjects'}, class: 'btn btn-primary' ) %>



	<div class="row">

		
		<table class="table table-striped">
			  <thead>
				<tr>
					<th>#</th>
					<th>Subject_id</th>
					<th>Page</th>
					<th>Permalink</th>
					<th>Visible</th>
					<th>Sections</th>
					<th>Actions</th>
				</tr>
			  </thead>
			<% @pages.each do |page| %>

			<tr>
				<td><%= page.position %></td>
				<td><%= page.subject_id %></td>
				<td><%= page.name %></td>
				<td><%= page.permalink %></td>
				<td><%= page.visible ? 'Yes' : 'No' %></td>
				
				<td><%= page.sections.size %></td>
				<td class="button">
					<%= link_to("View sections", { :controller => 'sections', :page_id => page.id }, :class => 'btn btn-info') %>
					<%= link_to("Show", { :action => 'show', :id => page.id, :subject_id => @subject.id }, :class => 'btn btn-primary') %>
					<%  if current_user.admin?  %>
						<%= link_to("Edit", {:action => 'edit', :id => page.id, :subject_id => @subject.id }, :class => 'btn btn-success') %>
						<%= link_to("Delete", page_path(page), :subject_id => @subject.id, method: :delete, data: {confirm: 'Are you sure?' }, :class => 'btn btn-danger') %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
		<%  if current_user.admin?  %>
			<%= link_to("Add new page", {:action => 'new', :subject_id => @subject.id}, :class => 'btn btn-info') %>
		<% end %>
	</div>
		



