<% provide(:title, 'Show page') %>
<div class="container">
	<h1>Show page</h1>
	

	<table class="table table-striped">
		<tr>
			<th>Subject ID:</th>
			<td><%= @page.subject_id %></td>
		</tr>
		<tr>
			<th>Name:</th>
			<td><%= @page.name %></td>
		</tr>
		<tr>
			<th>Permalink:</th>
			<td><%= @page.permalink %></td>
		</tr>
		<tr>
			<th>Visible?</th>
			<td><%= @page.visible ? 'true' : 'false '%></td>
		</tr>
		<tr>
			<th>Created at:</th>
			<td><%= @page.created_at %></td>
		</tr>
		<tr>
			<th>Updated at:</th>
			<td><%= @page.updated_at %></td>
		</tr>
	</table>
	<h3>	<%= link_to("Back to list", {:action => 'index', :subject_id => @subject.id}, :class => 'btn btn-primary', ) %></h3>
</div>

