<% provide(:title, 'All subjects') %>
<h1>All subjects</h1>


	<div class="row">

		
		<table class="table table-striped">
			  <thead>
				<tr>
					<th>#</th>
					<th>Subject</th>
					<th>Visible</th>
					<th>Pages</th>
					<th>Actions</th>
				</tr>
			  </thead>
			<% @subjects.each do |subject| %>
			<tr>
				<td><%= subject.position %></td>
				<td><%= subject.name %></td>
				<td><%= subject.visible ? 'Yes' : 'No' %></td>
				<td><%= subject.pages.size %></td>
				<td class="button">
					<%= link_to("Show", { :action => 'show', :id => subject.id }, :class => 'btn btn-primary') %>
					<%= link_to("Edit", '#', :class => 'btn btn-success') %>
					<%= link_to("Delete", '#', :class => 'btn btn-danger') %>
					<%= link_to("Add new subject", {:action => 'new'}, :class => 'btn btn-info') %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
		


